html {
  font-family: Helvetica, sans-serif;
}

form {
  margin-bottom: 20px;
}

header {
  border-bottom: 1px solid #ddd;
}

footer {
  border-top: 1px solid #ddd;
}

input {
  padding: 10px;
  width: 300px;
}

button {
  padding: 10px;
}

#tileContainer {
  margin-top: 20px;
}

#tileImage {
  max-width: 100%;
  height: auto;
  display: none;
}

#map {
  height: 500px;
  width: 100%;
  margin-top: 20px;
}
